<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Accounting Books</h1>
    <h2>My Accouonting Books </h2>
    <ul>
      <% ownedBooks.forEach((book)=>{%>
   <li>
    <a href="/accountingbooks/"<%=book._id%>> <%= book.name%> </a>
   </li>
      <%})%>
      <h2>Shared Accounting Books</h2>
      <ul>
        <% sharedBooks.forEach((book)=>{%>
          <li>
            <a href="/acountingbooks/"<%=book._id%>> <%=book.name%></a>
          </li>
        <%})%>
      </ul>
     
    </ul>
  </body>
</html>
