<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<style>
    
</style>
<body>
     <%- include('../partials/_navbar.ejs') %>
    <div class="all-apps-body">
        <div class="all-apps-header">
    <h1>Family members</h1>
       </div>
    <ul>
        <% users.forEach((user) =>{%>
       <li> 
        <a class="add-app-link" href="/users/<%= user._id%>/shared-books">
        <%= user.username %> </a>
          </li> 
           <% })%> 
    </ul>  
   </div>
</body>
</html>